{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{% set temoignages = terms_temoignage %}
<div>
    <div class="title_services_accueil">
        <h2>Nos clients en témoignent</h2>
    </div>
    <div id="carousel_temoignage" class="carousel slide" data-bs-ride="carousel">
        <div class="row">
            <div class="carousel_control col-lg-1 col-xs-1 col-sm-1 col-md-1 col-1">
                <button class="carousel-control-prev carousel-control-prev-custom" type="button" data-bs-target="#carousel_temoignage" data-bs-slide="prev">
                    <i class="fa fa-caret-left button-prev-triangle"></i>
                </button>
            </div>
            <div class="col-lg-10 col-xs-10 col-sm-10 col-md-10 col-10">
                {% for key,value in temoignages %}
                {% if key == 0 %}
                <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                        {% endif %}
                        <div class="bloc_temoignage row">
                            <div class="bloc_contenu_temoignage col-lg-8 col-12">
                                <div>{{ value.contenu | raw }}</div>
                            </div>
                            <div class="bloc_image_temoignage col-lg-4 col-12">
                                  <span class="circle-image image-temoignage">
                                   <img src="{{ value.image }}"/>
                                  </span>
                                <div class="bloc_image_temoignage_pers">
                                    <div>{{ value.person }}</div>
                                    <div>{{ value.poste }}</div>
                                    <div>{{ value.secteur }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="carousel_control col-lg-1 col-xs-1 col-sm-1 col-md-1 col-1">
                    <button class="carousel-control-next carousel-control-next-custom" type="button" data-bs-target="#carousel_temoignage" data-bs-slide="next">
                        <i class="fa fa-caret-right button-next-triangle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>