{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}


<nav id="menu-nav">
  <label for="toggleMainNav" class="hamburger-menu"></label>
  <input type="checkbox" id="toggleMainNav" class="check-toggle" />
  <label for="toggleMainNav" class="menu-overlay"></label>
  <div class="main-nav-holder">
    <ul class="main-nav">
      <li class="close-nav">
        <label for="toggleMainNav"></label>
      </li>
      {{ menus.menu_links(items, attributes, 0) }}
        {% macro menu_links(items, attributes, menu_level) %}
            {% import _self as menus %}
            {% if items %}
                {% for key,item in items %}
                    {% if item.below %}
                      <li class="has-submenu">
                        <input type="checkbox" id="label{{ menu_level ~ loop.index }}" class="check-toggle" />
                        <label for="label{{ menu_level ~ loop.index }}">
                          <a href="{{ item.url }}">{{ item.title }}</a>
                        </label>
                        <i class="fa fa-angle-down menu-caret"></i>
                        <ul class="submenu">
                            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                        </ul>
                      </li>
                    {% else %}
                      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endmacro %}
    </ul>
  </div>
</nav>